html {
  height: 100%;
  max-height: 100%;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14pt;
  margin: 0;
  height: 100%;
  max-height: 100%;
  display: flex;
}

.main {
  display: flex;
  flex: 1;
  background-color: whitesmoke;
  .editor-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #2b579a;
    .header {
      color: white;
      padding: 12px 24px;
      h2 {
        margin: 0;
      }
    }
    #editor {
      overflow: hidden;
      display: flex;
      flex: 1;
      background-color: #f3f3f3;
      .ProseMirror-menubar-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        .ProseMirror-menubar {
          margin-bottom: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          min-height: auto !important;
          background-color: #f3f2f1;
          box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
          .ProseMirror-menuitem {
            & > * {
              cursor: pointer;
              line-height: 36px;
              height: 36px;
              width: 36px;
              background-color: transparent;
              color: #252423;
              box-sizing: border-box;
              border: 1px solid transparent;
              text-decoration: none;
              text-align: center;
              vertical-align: top;
              border-radius: 0px;
              font-size: 14px;
              font-weight: normal;
              user-select: none;
              &:hover {
                background-color: #edebe9;
                color: #252423;
                outline: transparent dashed 2px;
              }
              &:active,
              &.ProseMirror-menu-active:active {
                background-color: #d2d0ce;
                color: #252423;
              }
              &.ProseMirror-menu-active {
                background-color: #e1dfdd;
                outline: transparent solid 2px;
              }
              &.ProseMirror-menu-disabled {
                cursor: default;
                color: #a19f9d;
                border: 1px solid transparent;
                pointer-events: none;
              }
            }
            .ProseMirror-menuitem-image {
              position: relative;
              overflow: hidden;
              &.ProseMirror-menu-disabled input {
                cursor: default;
              }
              input {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                top: -100px;
                left: 0;
                right: 0;
                bottom: 0;
              }
            }
            &::has(.separator) {
              flex: 1;
            }
          }
          .ProseMirror-menuseparator {
            background-color: #c8c8c8;
            width: 1px;
            height: 28px;
            margin: 0 12px;
          }
        }
      }
      .ProseMirror {
        overflow: scroll;
        padding: 32px 64px;
        > * {
          background-color: white;
          padding: 1em;
        }

        $nodes: "audio", "body", "data", "dd", "desc", "dl", "dlentry", "dt", "document", "fig", "fn", "image", "media-source",
          "media-track", "li", "note", "ol", "p", "ph", "pre", "prolog", "section", "simpletable", "shortdesc", "stentry",
          "sthead", "strow", "title", "topic", "ul", "video", "xref";
        @each $node in $nodes {
          .debug & [data-j-type="#{$node}"] {
            border: 2px solid rgba(blue, 0.05);
            position: relative;
            margin-right: 10px;
            &:hover {
              border: 2px solid rgba(blue, 0.3);
              background-color: rgba(black, 0.05);
              &::after {
                background-color: rgba(blue, 0.7);
                color: white;
                padding: 0 4px;
                content: $node;
                font-size: 12px;
                font-weight: 400;
                position: absolute;
                transform: rotate(90deg);
                transform-origin: left bottom;
                bottom: 100%;
                left: 100%;
              }
            }
          }
        }
        [data-j-keyref]:before {
          content: "[" attr(data-j-keyref) "]";
          background-color: khaki;
        }
        [data-j-type="image"] {
          max-width: 100%;
        }
      }
    }
  }
}
